## Credit Card Fraud Detection
Anonymized credit card transactions labeled as fraudulent or genuine

Note that most of the features in the dataset had already been transformed using PCA.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('creditcard.csv')
df.head(3)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0

### Data exploration

In [2]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.165980e-15,3.416908e-16,-1.373150e-15,2.086869e-15,9.604066e-16,1.490107e-15,-5.556467e-16,1.177556e-16,-2.406455e-15,...,1.656562e-16,-3.444850e-16,2.578648e-16,4.471968e-15,5.340915e-16,1.687098e-15,-3.666453e-16,-1.220404e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [6]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly skewed considering less than 1% of the transactions are fraudulent. Hence, training and test data must be carefully sampled

In [7]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

### Data Engineering
Resampling skewed data

About 99.8% of the dataset are class 'false' while only 0.2% are 'true'. We will now remove some of false class to balance the dataset

In [206]:
from random import sample
from sklearn.utils import shuffle

def resample(df):
    indices_0 = df.index[df['Class'] == 0].tolist()
    indices_1 = df.index[df['Class'] == 1].tolist()
    indices_0 =  sample(indices_0, len(indices_1)*1) # select integer multiples of 
    df_0 = df.iloc[ indices_0]
    df_1 = df.iloc[ indices_1]
    df_resampled = pd.concat([df_0, df_1], ignore_index=True)
    return shuffle(df_resampled, random_state=0)

In [207]:
df_2 = resample(df)
df_2

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
231,36522.0,1.220480,-0.006770,-0.176154,0.975853,0.404602,0.869978,-0.192340,0.323839,0.407235,...,-0.162225,-0.344752,-0.218724,-1.385056,0.751952,-0.238833,0.022613,-0.012459,6.10,0
522,12093.0,-4.696795,2.693867,-4.475133,5.467685,-1.556758,-1.549420,-4.104215,0.553934,-1.498468,...,0.573898,-0.080163,0.318408,-0.245862,0.338238,0.032271,-1.508458,0.608075,0.00,1
27,48303.0,-0.727817,0.660857,1.939541,1.344661,0.441792,0.583337,0.215672,0.092201,-0.062299,...,0.020355,0.567745,-0.371446,-0.003447,0.009221,-0.182928,-0.054808,-0.106563,22.00,0
630,41851.0,-19.139733,9.286847,-20.134992,7.818673,-15.652208,-1.668348,-21.340478,0.641900,-8.550110,...,-2.182692,0.520543,-0.760556,0.662767,-0.948454,0.121796,-3.381843,-1.256524,139.90,1
930,150949.0,-2.423535,1.659093,-3.071421,2.588033,1.135791,-1.892388,-2.588418,-2.226592,-1.670173,...,-0.934127,0.922038,-0.180255,-0.281719,0.299285,-0.263801,0.150156,0.292112,9.29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,102619.0,-2.488363,4.359019,-7.776410,5.364027,-1.823877,-2.445140,-4.964221,1.484890,-2.947899,...,1.325672,1.021226,-0.266476,-0.370880,0.365535,0.081372,0.184983,-0.211582,1.00,1
192,137351.0,0.062807,0.359092,1.539570,2.274677,0.316283,0.756500,-1.084735,-0.531611,-0.088392,...,0.222471,-1.836462,-1.320091,-0.457059,0.881731,-0.433342,0.232919,0.200724,59.33,0
629,41791.0,-7.222731,6.155773,-10.826460,4.180779,-6.123555,-3.114136,-6.895112,5.161516,-2.516477,...,0.912700,-0.630358,0.190887,-0.061263,0.379775,-0.266845,1.193695,0.257468,99.99,1
559,26931.0,-22.561699,13.208904,-24.643819,6.232532,-16.905611,-4.497439,-16.810184,14.955107,-3.871297,...,1.765987,-1.635517,-0.998317,0.138972,1.559350,-0.222125,1.504425,0.445920,99.99,1
684,58067.0,-0.264869,3.386140,-3.454997,4.367629,3.336060,-2.053918,0.256890,-2.957235,-2.855797,...,-1.394504,-0.166029,-1.452081,-0.251815,1.243461,0.452787,0.132218,0.424599,1.00,1

### Modelling

In [211]:
def metric(y_true,y_pred):
    
    indices_tp = np.where(y_true==1)
    predict_1 = y_pred[indices_tp]
    tp = sum(predict_1==1)
    fn = sum(predict_1==0)
    
    indices_tn = np.where(y_true==0)
    predict_0 = y_pred[indices_tn]
    tn = sum(predict_0==0)
    fp = sum(predict_0==1)
    
    print('Summary:')
    print('-------')
    print('%3.2f percent of frauds predicted correctly'%(tp/len(predict_1)*100))
    print('%3.2f percent of frauds misclassified as valid'%(fn/len(predict_1)*100))
    print('%3.2f percent of valids predicted correctly'%(tn/len(predict_0)*100))
    print('%3.2f percent of valids misclassified as fraud'%(fp/len(predict_0)*100))
    print('Acc. -- %3.2f percent'%((tp+tn)/(tp+tn+fn+fp)*100))
    print('F1 score -- %2.2f'%(2*tp/(2*tp+fn+fp)))

#### 1. Let's train without resampling (using umbalanced data)

In [214]:
from sklearn.model_selection import train_test_split

X = df.drop(['Time','Class'],axis=1)
y = df['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)
sum(y_test==1) # check the proportion of fraudulent cases in test data

134

In [215]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, mean_absolute_error

scaler = MinMaxScaler()
lr = LogisticRegression()
xgc = XGBClassifier() # n_estimators=70, learning_rate=0.008, gamma=0, max_depth=6)
mlp = MLPClassifier(alpha=1, max_iter=500)
gnb = GaussianNB()
rfc =  RandomForestClassifier(max_depth=5, n_estimators=2)

pipeline = Pipeline(steps=[('Scale',scaler),('Classifier',xgc)])
model = pipeline.fit(X_train,y_train)

In [217]:
y_pred = model.predict(X_test)
sum(y_pred==1)

117

In [218]:
metric(y_test,y_pred)

Summary:
-------
81.34 percent of frauds predicted correctly
18.66 percent of frauds misclassified as valid
99.99 percent of valids predicted correctly
0.01 percent of valids misclassified as fraud
Acc. -- 99.96 percent
F1 score -- 0.87

#### 2. Let's train with resampled(balanced data)

In [220]:
X2 = df_2.drop(['Time','Class'],axis=1)
y2 = df_2['Class']
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.3, random_state=2)
y2.value_counts()

1    492
0    492
Name: Class, dtype: int64

In [221]:
pipeline2 = Pipeline(steps=[('Scale',scaler),('Classifier',xgc)])
model2 = pipeline2.fit(X_train2,y_train2)

In [222]:
y_pred2 = model2.predict(X_test2)
metric(y_test2,y_pred2)

Summary:
-------
93.53 percent of frauds predicted correctly
6.47 percent of frauds misclassified as valid
92.99 percent of valids predicted correctly
7.01 percent of valids misclassified as fraud
Acc. -- 93.24 percent
F1 score -- 0.93

There's much better performance in fraud detection!

### DNN Model

In [203]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam, RMSprop, SGD
seed = 2
np.random.seed(seed)

dnn_model = Sequential()

dnn_model.add(Dense(20, input_shape=(X_train.shape[1],), activation='relu'))
#dnn_model.add(Dropout(0.3))
dnn_model.add(Dense(20, activation = 'relu'))
dnn_model.add(Dense(1, activation='sigmoid'))

dnn_model.compile(loss='binary_crossentropy', optimizer=Adam(lr=0.001),
                 metrics=['accuracy'])

In [204]:
sc = MinMaxScaler().fit(X_train)
scaled_X = sc.transform(X_train)
sc_Xt = sc.transform(X_test)

dnn_model.fit(scaled_X,y_train, batch_size=10, epochs=20, verbose=1)

Epoch 1/20
104/104 [==============================] - 0s 2ms/step - loss: 0.5420 - accuracy: 0.7531
Epoch 2/20
104/104 [==============================] - 0s 2ms/step - loss: 0.3950 - accuracy: 0.8529
Epoch 3/20
104/104 [==============================] - 0s 2ms/step - loss: 0.3006 - accuracy: 0.9013
Epoch 4/20
104/104 [==============================] - 0s 2ms/step - loss: 0.2396 - accuracy: 0.9235
Epoch 5/20
104/104 [==============================] - 0s 3ms/step - loss: 0.2077 - accuracy: 0.9361
Epoch 6/20
104/104 [==============================] - 1s 5ms/step - loss: 0.1984 - accuracy: 0.9342
Epoch 7/20
104/104 [==============================] - 0s 4ms/step - loss: 0.1843 - accuracy: 0.9400
Epoch 8/20
104/104 [==============================] - 0s 2ms/step - loss: 0.1753 - accuracy: 0.9458
Epoch 9/20
104/104 [==============================] - 0s 2ms/step - loss: 0.1689 - accuracy: 0.9497
Epoch 10/20
104/104 [==============================] - 0s 2ms/step - loss: 0.1560 - accuracy: 0.9545
Epoch 11/20
104/104 [==============================] - 0s 3ms/step - loss: 0.1631 - accuracy: 0.9506
Epoch 12/20
104/104 [==============================] - 0s 3ms/step - loss: 0.1631 - accuracy: 0.9458
Epoch 13/20
104/104 [==============================] - 0s 5ms/step - loss: 0.1521 - accuracy: 0.9574
Epoch 14/20
104/104 [==============================] - 0s 3ms/step - loss: 0.1509 - accuracy: 0.9506
Epoch 15/20
104/104 [==============================] - 0s 4ms/step - loss: 0.1468 - accuracy: 0.9535
Epoch 16/20
104/104 [==============================] - 0s 4ms/step - loss: 0.1452 - accuracy: 0.9516
Epoch 17/20
104/104 [==============================] - 0s 3ms/step - loss: 0.1551 - accuracy: 0.9487
Epoch 18/20
104/104 [==============================] - 0s 2ms/step - loss: 0.1479 - accuracy: 0.9535
Epoch 19/20
104/104 [==============================] - 0s 3ms/step - loss: 0.1464 - accuracy: 0.9535
Epoch 20/20
104/104 [==============================] - 1s 5ms/step - loss: 0.1462 - accuracy: 0.9545

In [205]:
y_pd = dnn_model.predict(sc_Xt)
y_pd = np.rint(y_pd)
metric(y_test,y_pd)

Summary:
-------
86.62 percent of frauds predicted correctly
13.38 percent of frauds misclassified as valid
98.34 percent of valids predicted correctly
1.66 percent of valids misclassified as fraud
Acc. -- 94.58 percent
F1 score -- 0.91